<tr>
  <td><%= anime.title %></td>
  <td><%= anime.serie_type %></td>
  <td><%= anime.eps %></td>
  <td><%= anime.finished %></td>
  <td><%= image_tag anime.cover.url(:thumb) %></td>
  <td><%= link_to 'Show', anime %></td>
  <td><%= link_to 'Edit', edit_anime_path(anime) %></td>
  <td><%= link_to 'Destroy', anime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>